In [ ]:
print('5X1' = 5)
print('5x2' = 10)
print('5x3' = 15)

In [ ]:
for L3 in range(1,11):
    LE = 5*L3
    print('5x' + str(L3) + '=' + str(LE))      # L3 is 3rd element, LE is last element

In [5]:
print('multiple objects in single print')
for L3 in range(1,11):
    LE = 5*L3
    print('5','x', L3, '=', LE)     # gives spaces  if we will doing this type of mathode
print('with concept of concat, type conversion')
for L3 in range(1,11):
    LE = 5*L3
    print('5x' + str(L3) + '=' + str(LE))

multiple objects in single print
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
with concept of concat, type conversion
5x1=5
5x2=10
5x3=15
5x4=20
5x5=25
5x6=30
5x7=35
5x8=40
5x9=45
5x10=50

In [ ]:
type(LE),type(L3)

# concatenation

In [ ]:
str_1 = 'python'
str_2 = 'day3'
str_3 = ''
str_1 + str_2 + str_3

In [ ]:
str_1*5

In [ ]:
lsmall = [1,  [2]  ]
l = [  1,  [2]  ,  [3,[4,5,[6,7,[8]]]]]

len(l[1])

In [4]:
++++

SyntaxError: invalid syntax (<ipython-input-4-ee74cb86516d>, line 1)

# If statement

In [ ]:
if (condition1):
    perform this statement
else:
    perform this statement

In [ ]:
x = int(input('enter a number!'))
if (x%2==0):
    print('x is even')
else:
    print('x is odd')

In [ ]:
X==23

In [ ]:
type(True)

In [ ]:
5/2,5//2,5%3

In [1]:
lst = [1,2,3,4,5]
sum(lst)

15

In [3]:
def some(a, b):  # (a,b) is dummy parameter here
    c = a+b
    return c

In [5]:
num1 = 1
num2 = 2
some(num1, num2)

3

In [6]:
some('good', "morning")

'goodmorning'

In [7]:
python_score = 25
elec_score = 45
some(python_score, elec_score)+45

115

In [11]:
lis = [1,2,7,3,4,5,6,6]
sum(lis)

34

In [ ]:
lis = [1,2,3,4,5,6,7,8,9,10]
sumR(lis)
=lis[0]+sumR(lis[1:])
=lis[0]+lis[1]+sumR(lis[3:])
=lis[0]+lis[1]+lis[2]+sumR(lis[4:])


=lis[0]+lis[1]+lis[2]+..........lis[9]...sumR(lis[9:])

# Recursion func

In [2]:
lis = [1,2,3,4,5,6,7,8,9,10]
sumR(lis)

55

In [3]:
def sumR(list_dummy):
    if len(list_dummy)>1:
        return list_dummy[0]+sumR(list_dummy[1:]) #list_dummy[0] is frst ele of the list,(list_dummy[1:]) remainder of the list
    else:
        return list_dummy[0]

In [22]:
sumR([1,2,3,4,5])

15