# String

In [6]:
print("welcom to the first session!!")

welcom to the first session!!

In [2]:
something = "Linear eqaution"     # something ----> variable
print(something)

Linear eqaution

In [3]:
print("Linear eqaution")

Linear eqaution

In [4]:
type('the taj')    # str is string

str

In [18]:
#type function
a = 1        # integer
a1 = 1.34
b = 'b'
c = "apple"
d = [1, 2, 3, 4]
e = {1, 2, 3, 4}
f = (1, 2, 3, 4)

#type(a)
type(a1)
#type(b)
#type(c)
#type(d)
#type(e)
#type(f)

float

In [19]:
id(a)

140722479600448

In [20]:
# append function 
x = [1, 2, 3, 4, 6]
x[6:] = []
x.append(9)
x

[1, 2, 3, 4, 6, 9]

In [21]:
nl1 = ['a', 1]
nl2 = ['a', 1]
id(nl1), id(nl2)

(2163780546376, 2163779778952)

In [22]:
nl1.append(1.11)      # append value in nl1
print(nl1)

['a', 1, 1.11]

In [ ]:
for i in [1,2,3,4,5]:
    print(i*i)

In [10]:
list(range(3,6))

[3, 4, 5]

In [11]:
list(range(10,20,2))    # 2 is just for 2

[10, 12, 14, 16, 18]

In [12]:
#slising
list1 = [1,2,3,4,5,6,7,8,9]
start = 3
stop = 5
print(list1[:stop])

[1, 2, 3, 4, 5]

In [13]:
len(list1)-1

8