In [39]:
import pandas as pd
data = pd.DataFrame({'phy' : [60, 70, 70, 80], 
                     'chem' : [80, 78, 89, 90], 
                     'math' : [80,90,78,89]},
                      index = ['stu_1', 'stu_2', 'stu_3', 'stu_4'])
data

       phy  chem  math
stu_1   60    80    80
stu_2   70    78    90
stu_3   70    89    78
stu_4   80    90    89

In [28]:
save_data  = pd.ExcelWriter('desktop/save_output.xlsx')     # create an ExcelWriter  obj
data.to_excel(save_data)   # write the data
save_data.save()           # save the data

In [34]:
myfile = pd.read_excel('desktop/Book1.xlsx')
myfile

          Name  Maths  Physics
0  neetu verma     50       87
1      bharti      45       69
2       gunjan     55       67
3       neelam     24       78
4      bhavna      38       78
5      shivani     20       88
6        rohan     39       45

In [40]:
data = pd.DataFrame({'phy' : [60, 70, 70, 80], 
                     'chem' : [80, 78, 89, 90], 
                     'math' : [80,90,78,89]},
                      index = ['stu_1', 'stu_2', 'stu_3', 'stu_4'],
                   columns = ['phy', 'chem', 'math'])
data

       phy  chem  math
stu_1   60    80    80
stu_2   70    78    90
stu_3   70    89    78
stu_4   80    90    89